/***CUSTOM PROPERTIES***/
:root {
    /* Palette */
    --main-bg: #141922;
    --footer-bg: #282828;
    --header-bg: rgba(0, 0, 0, 0.5);
    /* Commons */
    --white: #fff;
    --black: #000;
}

/***RESET***/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

html {
    scroll-behavior: smooth;
}

/***GENERALS***/
body {
    font-family: 'Montserrat', sans-serif;
}

/***UTILS***/
.container {
    max-width: 576px;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

.border {
    border: 1px dashed white;
}

/* list utils */
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/***UPPER-CONTENT***/
.upper-content {
    height: calc(100vh - 80px);
    overflow: auto;
    display: flex;
}

/***SIDEBAR***/
.sidebar {
    width: 50px;
    background-color: var(--black);
    flex: 0 0 50px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar i {
    font-size: 20px;
    color: #c5c5c5;
}

.sidebar i:hover {
    font-size: 21px;
    color: var(--white);
}

/*SIDEBAR-LOGO*/
.sidebar-logo {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-small {
    height: 30px;
    width: 30px;
}

.logo-big {
    display: none;
    height: 100%;
    width: 100%;
}

/*SIDEBAR-ACTIONS*/
.sidebar-actions {
    height: 20%;
}

.sidebar-actions li {
    padding-bottom: 10px;
}

.sidebar-actions span {
    display: none;
    margin-left: 8px;
    color: #9d9d9d;
}

.sidebar-actions span:hover {
    color: var(--white);
}

/*SIDEBAR-PLAYLIST*/
.sidebar-playlist {
    height: 60%;
    width: 100%;
    display: flex; 
    flex-direction: column;  
    padding: 0 25px;
    color: var(--white);
    overflow: auto;
}

.sidebar-playlist-container {
    display: none;
}

.sidebar-playlist h4 {
    padding-bottom: 5px;
}

.sidebar-playlist a {
    color: #9d9d9d;
    font-size: 12px;
    cursor: pointer;
}

.sidebar-playlist a:hover {
    color: var(--white);
}

.sidebar-playlist i {
    font-size: 20px;
}

.saved-playlist li {
    color: #9d9d9d;
    padding-bottom: 5px;
}

/*SIDEBAR-USER*/
.sidebar-user {
    height: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.sidebar-user li {
    padding-bottom: 10px;
}

.sidebar-user span {
    display: none;
    margin-left: 8px;
    color: #9d9d9d;
}

.sidebar-user span:hover {
    color: var(--white);
}

.sidebar-user img {
    border: 2px solid #c5c5c5;
    border-radius: 50%;
    cursor: pointer;
    height: 30px;
    width: 30px;
}

.sidebar-user img:hover {
    border-color: var(--white);
}


/***MAIN***/
main {
    flex-grow: 1;
    background-color: var(--main-bg);
    overflow: auto;
}

/***MAIN - HEADER***/
header {
    height: 80px;
    background-color: var(--header-bg);
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
}

#upgrade-btn {
    color: var(--white);
    border: 1px solid #c5c5c5;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 12px;
    text-transform: uppercase;
}

#upgrade-btn:hover {
    border: 2px solid var(--white);
}

/***MAIN - CONTENT***/
.main-content {
    padding: 0 20px;
    height: 100%;
}

.main-content-actions {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.main-content-actions ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main-content-actions a {
    color: #9d9d9d;
    padding: 0 10px;
    text-transform: uppercase;
    font-weight: 500;
}

.main-content-actions a:hover {
    color: var(--white);
    text-decoration: underline;
}

.main-content h2 {
    font-size: 20px;
    color: var(--white);
    padding-left: 10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    flex-basis: calc(50% - 20px);
    margin: 10px;
}

.card {
    text-align: center;
}

.card img {
    cursor: pointer;
}

.card h4 {
    color: var(--white);
    cursor: pointer;
}

.card p {
    color: #9d9d9d;
}

/***FOOTER***/
footer {
    height: 80px;
    background-color: var(--footer-bg);
}

.navbar {
    height: 80px;
    width: 100%;
    display: flex;
}

.navbar > * {
    padding: 5px;
    height: 80px;
    color: var(--white);
}

 /*NAVBAR - CURRENT SONG */
.nav-current-song {
    display: flex;
    flex-basis: 20%;
    flex-shrink: 1;
    align-items: center;
}

.current-song-img img {
    max-height: 30px;
    display: block;
}

.current-song-txt {
    margin-left: 5px;
}

.current-song-txt p, h5 {
    font-size: 8px;
}

.current-song-actions {
    padding: 0 15px;        
}

.current-song-actions i {
    color: #9d9d9d;
}

.current-song-actions i:hover {
    color: var(--white);
}

/*NAVBAR - PLAYER ACTIONS */
.nav-player-actions {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    padding: 10px;
}

.player-menu-top ul {
    display: flex;
}

.player-menu-top a {
    color: #9d9d9d;
    font-size: 15px;
    padding: 0 10px;
}

.player-menu-top a:hover {
    color: var(--white);
}

.player-menu-bottom {
    display: flex;
    padding: 10px;
}

.time-actual, .time-full {
    font-size: 12px;
    font-weight: 500;
}

.player-progressbar {
    width: 150px;
    margin: 5px;
    height: 3px;
    display: flex;
}

.progressbar-actual {
    height: 100%;
    flex-basis: 10%;
    background-color: var(--white);
}

.progressbar-full {
    height: 100%;
    flex-basis: 90%;
    background-color: #9d9d9d;
}


/*NAVBAR - REMOTE CONTROLS */
.nav-remote-controls {
    display: flex;
    flex-basis: 20%;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .sidebar {
        flex-basis: 200px;
    }

    .sidebar-logo {
        height: 15%; }

    .logo-small {
        display: none;
    }
    
    .logo-big {
        display: block;
    }

    .sidebar-actions span {
        display: inline;
    }

    .sidebar-user {
        margin-left: -20px
    }

    .sidebar-user img {
        position: absolute;
        left: -5px;
        top: 25px;
    }

    .sidebar-user span {
        display: inline;
    }

    .sidebar-playlist-container {
        display: block;
    }

    .main-content h2 {
        font-size: 30px;
    }

    .col {
        flex-basis: calc(25% - 20px);
    }

    .current-song-txt p {
        display: inline;
    }

    .current-song-txt p, h5 {
        font-size: 14px;
    }

    .current-song-actions ul {
        display: flex;
    }

    .current-song-actions li {
        padding: 0 10px;
    }

    .player-menu-top a {
        font-size: 20px;
    }

    .player-progressbar {
        width: 250px;
    }
}

@media screen and (min-width: 992px) {
    .col {
        flex-basis: calc((100% / 6) - 20px);
    }

    .player-menu-top li {
        padding: 0 10px;
    }

    .player-menu-top a {
        font-size: 25px;
    }

    .player-progressbar {
        width: 500px;
    }
}