/***CUSTOM PROPERTIES***/
:root {
    /* Palette */
    --main-bg: #141922;
    --footer-bg: #282828;
    --header-bg: rgba(0, 0, 0, 0.5);
    /* Commons */
    --white: #fff;
    --black: #000;
}

/***RESET***/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

html {
    scroll-behavior: smooth;
}

/***GENERALS***/
body {
    font-family: 'Montserrat', sans-serif;
}

/***UTILS***/
.container {
    max-width: 576px;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

.border {
    border: 1px dashed white;
}

/***UPPER-CONTENT***/
.upper-content {
    height: calc(100vh - 80px);
    overflow: auto;
    display: flex;
}

/***SIDEBAR***/
.sidebar {
    width: 50px;
    background-color: var(--black);
    flex: 0 0 50px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar i {
    font-size: 20px;
    color: #c5c5c5;
}

.sidebar i:hover {
    font-size: 21px;
    color: var(--white);
}

/*SIDEBAR-LOGO*/
.sidebar-logo {
    height: 10%;
}

.sidebar-logo img {
    height: 30px;
    width: 30px;
}

/*SIDEBAR-ACTIONS*/
.sidebar-actions {
    height: 20%;
}

.sidebar-actions li {
    padding-bottom: 10px;
}

/*SIDEBAR-PLAYLIST*/
.sidebar-playlist {
    height: 60%;
}

/*SIDEBAR-USER*/
.sidebar-user {
    height: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-user li {
    padding-bottom: 10px;
}

.sidebar-user > figure {
    border: 1px solid #c5c5c5;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    height: 30px;
    width: 30px;
}

.sidebar-user figure:hover {
    border-color: var(--white);
}

/***MAIN***/
main {
    flex-grow: 1;
    background-color: var(--main-bg);
    overflow: auto;
}

/***MAIN - HEADER***/
header {
    height: 80px;
    background-color: var(--header-bg);
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    margin-bottom: 10px;
}

/***MAIN - CONTENT***/

/***FOOTER***/
footer {
    height: 80px;
    background-color: var(--footer-bg);
}

@media screen and (min-width: 768px) {
    .sidebar {
        flex-basis: 200px;
    }
}